.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 24px;
}

.pageTitle {
    font-size: 32px;
}

.pageSubtitle {
    font-size: 18px;
    font-weight: 400;
    color: var(--foreground-secondary);
}

.pageTitle,
.pageSubtitle {
    text-align: center;
}

.placeholder {
    margin: 32px auto;
    max-width: 640px;
    padding: 32px;
    text-align: center;
    border-radius: 0.8rem;
    box-shadow: var(--shadow-primary);
    background-color: var(--background-secondary);
    color: var(--foreground-secondary);
}

@media (max-width: 600px) {
    .container {
        padding: 0 16px;
    }

    .pageTitle {
        font-size: 1.5em;
    }

    .pageSubtitle {
        font-size: 1em;
    }
}