.inputContainer {
    margin-bottom: 32px;
}

.prepaymentsContainer {
    margin: 16px 0 8px;
}

.prepaymentItem {
    margin-bottom: 8px;
}

.saveCalculationsButton {
    margin-top: 8px;
}